:root {
	--main-background: #041223;
	--main-fonts-color: #fff;
  --main-header-line: #fff;
  --main-scrollbar-colour: #0b0b0b;
  --main-scrollbar-thumb: #ffffff;
  --main-selector-background: #fbff004a;
  --main-selector-textcolour: #fff200;
  --main-button-gradient: linear-gradient(to right, #00000060 0%, #000000 100%);
  --main-button-gradient2: linear-gradient(to right, #00000000 0%, #ffffff 100%);
  --main-button-gradient-webkit: -webkit-gradient(linear, left top, right top, from(#0096ff), to(#2141eb));
  --main-button-compatability-colour: #0096ff;
}


body {
    padding-left: 11em;
    font: normal normal 300 18px/130% "Source Sans Pro", sans-serif;
		color: var(--main-fonts-color);
    background-color: var(--main-background)
  }
ul.navbar {
    background-color: #000000;
    list-style-type: none;
    padding: 0;
    margin: 0;
	  position: absolute;
    top: 2em;
    left: 1em;
    width: 10em 
  }
	h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: oblique;
  }
	ul.navbar li {
    text-align: center;
    background: var(--main-button-compatability-colour); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: var(--main-button-gradient-webkit);
    background: var(--main-button-gradient); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0096ff', endColorstr='#2141eb',GradientType=1 ); /* IE6-*/
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    text-align: center;
  }
  
	ul.navbar li:hover{
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    color: #000000;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.25em;
    border-top: 0.1em solid rgb(255, 255, 255) ;
    border-bottom: 0.1em solid rgb(255, 255, 255) ;
  }
  ul.navbar a {
    text-decoration: none;
    color: var(--main-fonts-color);
  }
  a:link {
    color: var(--main-fonts-color) ;
  }
	address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted 
  }
  .header {
    width: 100%;
    background-color: #0a1d35;
  }
  .header h1 {
    padding-top: 0.5em;
    width: 100%;
    text-align: center;
  }
  .header h2 {
    text-align: center;
    padding-bottom: 0.5em;
  }
  .header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1%;
    background: linear-gradient(270deg, #ffffff, #777777);
    background-size: 400% 400%;
  
    -webkit-animation: Breathe 15s ease infinite;
    -moz-animation: Breathe 15s ease infinite;
    animation: Breathe 15s ease infinite;
  }
  
  @-webkit-keyframes Breathe {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes Breathe {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes Breathe {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }


  /*--- Scrollbar --*/
  ::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-scrollbar-colour);
}

::-webkit-scrollbar-corner,
::-webkit-resizer {
  background: var(--main-scrollbar-colour);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-scrollbar-thumb);
	/* Add this as a property for a selector to which the effect has to be applied*/

	/* Chrome and Safari */
	-webkit-border-top-left-radius:40px;
	-webkit-border-top-right-radius:40px;
	-webkit-border-bottom-right-radius:40px;
	-webkit-border-bottom-left-radius:40px;
	/* Firefox */
	-moz-border-radius-topleft:40px;
	-moz-border-radius-topright:40px;
	-moz-border-radius-bottomright:40px;
	-moz-border-radius-bottomleft:40px;
	/* Standard Syntax */
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
}

::selection {
  background: var(--main-selector-background);
  color: var(--main-selector-textcolour);
}

.reference {
  background-color: #030c18;
  padding-top: 0.1vh;
  padding-bottom: 0.1vh;
}